* {
  font-family: "Papyrus", serif;
}

body {
  cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), default !important;
}

#carousel .panel {
  padding: 0 24px;
}

.explosion {
  position: absolute;
  width: 600px;
  height: 600px;
  pointer-events: none;
  z-index: 1000;
}

.explosion .particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pop 1s reverse forwards;
}

@keyframes pop {
  from {
    opacity: 0.5;
  }
  to {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:first-of-type {
    margin-right: 12px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}